/* CLASSES */
.header {
	background-color: lightgray;
}

.navigation {
	background-color: lightpink;
}

.main {
	background-color: lightgreen;
}

/*


*/

/* TAGS/NATIVE */
nav ul li {
	display: inline-block;
}