/* CLASSES */
.header {
	background-image: url(../imgs/bannerbg01.jpg);
	height: 182px;
	text-align: center;
}

.bigtxt {
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: #FFFFFF;
	margin-top: 80px;
}

.navigation {
	background-color: #FFFFFF;
	margin-top: 0px;
}

.main {
	background-color: #FFFFFF;
}

/*


*/

/* TAGS/NATIVE */
body {
	font-family: 'Droid Sans', sans-serif;
}

a {
	color: purple;
}

a:hover {
	color: purple;
}