		<!-- HEADER/TOP AREA -->
		<section class="container-fluid">
			<div class="row header">
				<div class="col-md-12">
					<h1 class="bigtxt">nerdzine_</h1>
				</div>
			</div>
		</section>

		<!-- NAVIGATION -->
		<section class="container">
			<div class="row navigation">
				<div class="col-md-12">
					<nav>
						<ul class="nav nav-pills">
							<li role="presentation"><a href="#">Home</a></li>
							<li role="presentation"><a href="#">About</a></li>
							<li role="presentation"><a href="#">All posts</a></li>
							<li role="presentation"><a href="#">Contact</a></li>
							<li role="presentation" class="navbar-right"><button class="btn btn-info login">Log in <span class="glyphicon glyphicon-off"></span></button></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>

		<!-- MAIN CONTENT AREA -->
		<section class="container mainArea wrapper">
			<div class="row main">
				<div class="col-md-12">
					<h1>All posts.</h1>
					<p>
						Here you see all posts, newest first. <br>
						<i class="gray">Hint; click button to load posts and get latest update.</i>
					</p>
					<button class="btn btn-lg btn-info showthem">Load posts</button>
				</div>
			</div>
			<hr>

			<div class="row main">
				<div class="col-md-12">
					<!-- SHOW ALL POSTS SECTION -->
					<section class="showAllPosts"></section>
				</div>
			</div>
		</section>

		<!-- FOOTER AREA -->
		<section class="container-fluid footer">
			<div class="row">
				<div class="col-md-12 footerArea">
					
				</div>
			</div>
		</section>