		<script>
			$.ajax({
				url: "php/getmenu.php",
				dataType: "json",
				data: "getMenuLinks",
				success: function(data) {
					console.log("Success data for main nav-bar: ", data);

					for (var i in data) {
						console.log("Success data for main nav-bar loop: ", data[i]);

						$('.nav-pills').append('<li role="presentation">' + '<a href="' + data[i].link + '">' + data[i].title + '</a>' + '</li>');
					}
				},
				error: function(data) {
					console.log("Error data for main nav-bar: ", data);
				}
			});
		</script>



		<!-- HEADER/TOP AREA -->
		<section class="container-fluid">
			<div class="row header">
				<div class="col-md-12">
					<h1 class="bigtxt">nerdzine_</h1>
				</div>
			</div>
		</section>

		<!-- NAVIGATION -->
		<section class="container">
			<div class="row navigation">
				<div class="col-md-12">
					<nav>
						<ul class="nav nav-pills">
							<li role="presentation" class="navbar-right"><button class="btn btn-info login">Log in <span class="glyphicon glyphicon-off"></span></button></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>

		<!-- MAIN CONTENT AREA -->
		<section class="container mainArea wrapper">
			<div class="row main">
				<div class="col-md-12">
					<h1>Admin section.</h1>
					<!-- ADMIN NAV TABS -->
					<ul class="nav nav-tabs pushd">
						<li role="presentation" id="search"><a href="#">Search <span class="glyphicon glyphicon-search"></span></a></li>
						<li role="presentation" id="adminTools" class="active"><a href="#">Create Post <span class="glyphicon glyphicon-pencil"></span></a></li>
						<li role="presentation" id="editLinks"><a href="#">Edit Links <span class="glyphicon glyphicon-road"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="row main">
				<div class="col-md-6">
					<!-- ADMIN CREATE NEW PAGE FORM -->
					<form class="postPageForm">
						<div class="form-group">
							<label>Title:</label>
							<input type="text" class="form-control titleField" placeholder="Title for new page...">
						</div>
						<div class="form-group">
							<label>Page URL:</label>
							<input type="text" class="form-control pageURLField" placeholder="URL for new page...">
						</div>
						<div class="form-group">
							<label>Content:</label>
							<textarea class="form-control pageBody" rows="4"></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Create page <span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<h4><span class="label label-info">Info</span></h4>
					<p>
						Give the new page a title and some content. <br>
						<br>
						In the field <b>Page URL</b>, you need to use "_" <i>(underscore)</i>, 
						as space between the words. Use three words as max.
					</p>
				</div>
			</div>
		</section>

		<!-- FOOTER AREA -->
		<section class="container-fluid footer">
			<div class="row">
				<div class="col-md-12 footerArea">
					
				</div>
			</div>
		</section>